html{
    background-color: rgb(230,244,241);
}
input[type="button"],input[type="submit"],input[type="radio"] + .label{
    cursor: pointer;
}
#exit-button{
    width: 200px;
    height: 50px;
    margin: 30px 5% 0 30px;
    border-radius: 30px;
    background-color: rgb(0,162,255);
    box-shadow: 0 10px 0 rgb(6, 101, 196);
    border: 3px solid rgb(6, 101, 196);
    font-size: 20px;
    transition: all 0.15s ease;
}
#exit-button:hover{
    background-color: rgb(34, 223, 223);
    border: 1px solid rgb(6, 101, 196);
    box-shadow: none;
    transform: translateY(10px);
}

#button-area{
    text-align: right;
    margin-top: 20px;
}
#button-area input[type="submit"]{
    width: 300px;
    height: 80px;
    margin: 10px;
    margin-right: 10%;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(255,184,61);
    border: 3px solid rgb(136, 142, 235);
    box-shadow: 0 10px 0 rgb(136, 142, 235);

    font-size: 20px;
    transition: all 0.15s ease;
}
#button-area input[type="submit"]:hover{
    background-color: rgb(253, 216, 97);
    border: none !important;
    box-shadow: none !important;
    transform: translateY(10px);
}

#button-area input[type="submit"]:disabled{
    background-color: rgb(246, 202, 60);
    border: none !important;
    box-shadow: none !important;
    transform: translateY(10px);
}

/* ここからトップ画面 */
#mode{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#mode input[type="button"]{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 90px;
    border-radius: 25px 25px 0 0;
    border: none;
    font-size: 25px;
}
#mode #trial{
    background-color: rgb(168, 174, 255);
    border: solid 4px rgb(168, 174, 255);
    border-bottom: none;
    transition: all 0.15s ease;
}
#mode #quiz{
    background-color: rgb(230,244,241);
    border: solid 4px rgb(103,231,212);
    border-bottom: none;
    transition: all 0.15s ease;
}

#type{
    background-color: white;
    border-radius: 34px;
    max-width: 1291px;
    margin: auto;
    padding: 50px;
    text-align: center;
    border: solid 6px rgb(168, 174, 255);
    box-shadow: 15px 13px 0 rgb(168, 174, 255);
    transition: all 0.15s ease;
}
#type input[type="radio"]{
    display: none;
}
#type #recommend{
    display: none;
    padding-bottom: 30px;
    border: rgb(209, 189, 255) solid 5px;
    border-radius: 30px;
    box-shadow: 10px 5px 0 rgb(209, 189, 255);
}
#type #recommend h2{
    text-align: left;
    margin: 0;
    margin-left: 30px;
}
#type .label{
    display: inline-block;
    width: auto;
    min-width: 200px;
    height: 80px;
    margin: 30px 30px;
    padding: 0 50px;
    align-content: center;
    border-radius: 25px;
    background-color: white;
    border: solid 5px rgb(121, 197, 255);
    font-size: 20px;
}
#type .label label{
    display: block;
    font-size: 15px;
}
#type .label.red{
    border: solid 5px rgb(255, 121, 150);
}
#type .label.red:hover{
    background-color: rgb(255, 170, 188);
    transition: all 0.15s ease;
    border: dotted 5px rgb(255, 121, 150);
}
#type input[type="radio"]:checked + .label.red{
    background-color: rgb(255, 121, 150);
    transition: all 0.15s ease;
}

#type .label.purple{
    border: solid 5px rgb(175, 142, 252);
}
#type .label.purple:hover{
    background-color: rgb(209, 189, 255);
    transition: all 0.15s ease;
    border: dotted 5px rgb(175, 142, 252);
}
#type input[type="radio"]:checked + .label.purple{
    background-color: rgb(175, 142, 252);
    transition: all 0.15s ease;
}

#type .label:hover{
    background-color: rgba(121, 197, 255,0.5);
    transition: all 0.15s ease;
    border: dotted 5px rgb(121, 197, 255);
}
#type input[type="radio"]:checked + .label{
    background-color: rgb(121, 197, 255);
    transition: all 0.15s ease;
}

#type #explain{
    max-width: 750px;
    min-height: 100px;
    font-size: 15px;
    align-content: center;
    margin: auto;
    padding: 0px 20px;
    border: solid 5px rgba(121, 197, 255,0.5);
    border-radius: 20px;
    box-shadow: 10px 8px 0 rgba(121, 197, 255,0.5);
}

#type #explain::before,#type #explain::after{
    content: "📖";
    font-size: 30px;
}
/* ここまでトップ画面 */


/* ここから解説評価(詐欺体験) */
#feedback h2{
    margin: 75px 0 0 8%;
    font-size: 30px;
}
#feedback p{
    max-width: 1150px;
    height: 140px;
    margin: 10px auto 50px auto;
    background-color: white;
    border-radius: 34px;
    border: solid 6px rgb(168,174,255);
    box-shadow: 15px 13px 0 rgb(168,174,255);
    padding: 15px 30px;
    overflow-y: scroll;
    font-size: 20px;
}
#feedback p::-webkit-scrollbar{
    width: 33px;
    margin-right: 5%;
    background-color: transparent;
}
#feedback p::-webkit-scrollbar-thumb{
    border-right: 20px solid transparent;
    background-clip: padding-box;
    background-color: rgb(189,226,255);

}

/* ここまで解説評価(詐欺体験) */
/* ここから解説評価(クイズ) */
#quiz-review h1{
    text-align: center;
    font-size: 40px;
    margin:10px;
}
#quiz-review #feedback h2{
    margin: 0 0 0 8%;
    font-size: 30px;
}
#quiz-review #feedback p{
    border: solid 6px rgb(103,231,212);
    box-shadow: 15px 13px 0 rgb(103,231,212);
}

/* ここまで解説評価(クイズ) */



/* ここからチャット画面 */
#type-caption{
    margin: 15px 10px;
}

#chat{
    background-color: white;
    border-radius: 34px;
    max-width: 1291px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: solid 8px rgb(168, 174, 255);
    box-shadow: 15px 13px 0 rgb(168, 174, 255);
    margin-bottom: 30px;
    text-align: left;
    
}


#scroll{
    height: 350px; /* 高さを指定 */
    overflow: auto;
    overflow-x: hidden;
    scrollbar-color: #BDE2FF transparent;
    scrollbar-width: auto; 
}

.mycomment, .aicomment , .quiz-aicomment{
    margin: 10px 0;
    display: flex;
}

.mycomment {
    justify-content: flex-end;
}

.aicomment , .quiz-aicomment {
    justify-content: flex-start;
}

/* ユーザー（右側）吹き出し */
.mycomment p {
    position: relative;
    margin: 0 0 0 10px;
    padding: 8px;
    max-width: 600px;
    border-radius: 12px;
    background: #BDE2FF;
    font-size: 15px;
}

.mycomment p:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #BDE2FF;
    transform: rotate(-35deg);
}

/* AI（左側）吹き出し */
.aicomment p {
    position: relative;
    margin: 0 10% 0 0;
    padding: 8px;
    max-width: 750px;
    border-radius: 12px;
    background: #B7C8FF;
    font-size: 15px;
}

.aicomment p:after {
    content: "";
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #B7C8FF;
    transform: rotate(35deg);
}


#field{   
    position: relative;
    background-color: rgba(189, 226, 255, 1);
    border-radius: 14px;
    max-width: 1291px;
    margin: auto;
    width: auto;
    border: solid 8px rgba(189, 226, 255, 1);
    
}

#form{
    display: flex;
    gap: 15px;  

}
#voice-area{
    max-width: 1291px;
    margin: 10px auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#voice-area select{
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
}

#voice-area #adviceButton{
    border-radius: 50px;
    background-color: #f0f3ff;
    border: solid 1px gray;
    font-size: 16px;
    height: 35px;
    width: 130px;
    vertical-align: center;
    cursor: pointer; 
    transition: all 0.1s ease;
}
#voice-area #adviceButton span{
    font-size: 20px;
    vertical-align: center;
}

#voice-area #adviceButton:hover{
    background-color: silver;
}
#voice-area #adviceButton:disabled{
    cursor:default;
    background-color: silver;
}

#textarea {
    border: none;
    outline: none;
    border-radius: 14px;
    padding: 5px 15px;
    font-size: 20px;
    width: 91%;
    height: 30px; 
    text-align: left;
    box-sizing: border-box;
    display: block; 
    resize: none; 
    overflow: hidden;
    min-height: 30px;
    field-sizing: content;
    min-height: min-content;
}

#mikeButton{
    border-radius: 50px;
    background-color: #f0f3ff;
    border: solid 1px gray;
    font-size: 23px;
    height: 35px;
    cursor: pointer; 
    transition: all 0.1s ease;
}
.mikeON{
    animation: mikeAnimation 2s infinite;
}
@keyframes mikeAnimation {
    0% { 
        background-color: #f0f3ff;
    }
    50% { 
        background-color: salmon;
    }
    100% { 
        background-color: #f0f3ff;
    }
}
#mikeButton:hover{
    background-color: silver;
}
#mikeButton:disabled{
    cursor:default;
    background-color: silver;
}

#displayButton{
    all: unset;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 25px solid rgb(255,184,61); /* 三角形の色 */
    background: none;
    cursor: pointer; 
    overflow: visible;
    position: absolute;
    bottom: 0px;       
    right: 15px;        
}
/* ここまでチャット画面 */


/* ここからクイズチャット画面 */

#quiz-chat{
    background-color: white;
    border-radius: 34px;
    max-width: 1291px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: solid 8px rgba(103, 231, 212, 1);
    box-shadow: 15px 13px 0 rgba(103, 231, 212, 1);
    margin-bottom: 30px;
    text-align: left;  
}
/* AI（左側）吹き出し */
.quiz-aicomment p {
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 750px;
    border-radius: 12px;
    background: #97F7E4;
    font-size: 15px;
}

.quiz-aicomment p:after {
    content: "";
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #97F7E4;
    transform: rotate(35deg);
}


/* ここまでクイズチャット画面 */


/* ここからプロンプト編集画面 */

#pass{
    text-align: center;
    min-height: 500px;
}
#pass #pass-form{
    margin: auto;
}
#pass #pass-form input{
    margin: 30px;
}
#pass input[type="button"]{
    margin: 10px;
    padding:10px 20px;
}

#view{
    display: none;
}
#type #type-table{
    margin: auto;
    padding: 10px;
    border:#B7C8FF solid 3px;
    border-collapse: collapse;
}
#type #type-table th, #type #type-table td{
    border-top: #B7C8FF solid 3px;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: left;
    min-height: 200px;
}

#type input[type="button"]{
    font-size: 20px;
    transition: all 0.15s ease;
    border: gray solid 1px;
    border-radius: 3px;
}
#type #edit-button:hover{
    background-color: greenyellow;
}
#type #delete-button:hover{
    background-color: salmon;
}
#type #add-button{
    display: none;
    font-size:15px;
    margin: 30px 10px 0px;
    padding: 10px 25px;
    transition: all 0.15s ease;
    background-color: white;
    border: 2px solid rgb(21, 117, 213);
    border-radius: 30px;
    box-shadow: 0 7px 0 rgb(21, 117, 213);
}
#type #add-button:hover{
    background-color: #B7C8FF;
    border: 2px solid rgb(111, 173, 236);
    box-shadow: none;
    transform: translateY(7px);
}

#type p{
    margin: 30px 0 0;
    font-size: 13px;
}

#type input[type="text"]{
    width: 400px;
}

#type #else-text{
    width: 150px;
}

#type #level-radio input[type="radio"]{
    display: inline;
    margin: 0 0 15px 20px;
}


#type textarea{
    width: 75%;
    height: auto;
    field-sizing: content;
    min-height: min-content;
}

#type #test-button{
    width: 200px;
    height: 50px;
    margin: 10px 5% 20px 30px;
    border-radius: 30px;
    background-color: rgb(0,162,255);
    box-shadow: 0 10px 0 rgb(6, 101, 196);
    border: 3px solid rgb(6, 101, 196);
    font-size: 20px;
    transition: all 0.15s ease;
}

#type #test-button:hover, #test-button-quiz:hover{
    background-color: rgb(34, 223, 223);
    border: 1px solid rgb(6, 101, 196);
    box-shadow: none;
    transform: translateY(10px);
}

#type #test-button-quiz{
    width: 200px;
    height: 50px;
    margin: 10px 5% 0 30px;
    border-radius: 30px;
    background-color: rgb(49, 253, 134);
    box-shadow: 0 10px 0 rgb(7, 167, 106);
    border: 3px solid rgb(7, 167, 106);
    font-size: 20px;
    transition: all 0.15s ease;
}

#type #test-button-quiz:hover{
    background-color: rgb(49, 253, 134);
    border: 1px solid rgb(7, 167, 106);
    box-shadow: none;
    transform: translateY(10px);
}


/* ここまでプロンプト編集画面 */