html{
    background-color: rgb(230,244,241);
}
input[type="button"],input[type="submit"],input[type="radio"] + .label{
    cursor: pointer;
}
#exit-button{
    width: 200px;
    height: 50px;
    margin: 30px 5% 0 30px;
    border-radius: 30px;
    background-color: rgb(0,162,255);
    box-shadow: 0 10px 0 rgb(6, 101, 196);
    border: 3px solid rgb(6, 101, 196);
    font-size: 20px;
    transition: all 0.15s ease;
}
#exit-button:hover{
    background-color: rgb(34, 223, 223);
    border: 1px solid rgb(6, 101, 196);
    box-shadow: none;
    transform: translateY(10px);
}

#button-area{
    text-align: right;
    margin-top: 20px;
}
#button-area input[type="submit"]{
    width: 300px;
    height: 80px;
    margin: 10px;
    margin-right: 10%;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(255,184,61);
    border: 3px solid rgb(136, 142, 235);
    box-shadow: 0 10px 0 rgb(136, 142, 235);

    font-size: 20px;
    transition: all 0.15s ease;
}
#button-area input[type="submit"]:hover{
    background-color: rgb(253, 216, 97);
    border: none !important;
    box-shadow: none !important;
    transform: translateY(10px);
}

/* ここからトップ画面 */
#mode{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#mode input[type="button"]{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 90px;
    border-radius: 25px 25px 0 0;
    border: none;
    font-size: 25px;
}
#mode #trial{
    background-color: rgb(168, 174, 255);
    border: solid 4px rgb(168, 174, 255);
    border-bottom: none;
    transition: all 0.15s ease;
}
#mode #quiz{
    background-color: rgb(230,244,241);
    border: solid 4px rgb(103,231,212);
    border-bottom: none;
    transition: all 0.15s ease;
}

#type{
    background-color: white;
    border-radius: 34px;
    max-width: 1291px;
    margin: auto;
    padding: 50px;
    text-align: center;
    border: solid 6px rgb(168, 174, 255);
    box-shadow: 15px 13px 0 rgb(168, 174, 255);
    transition: all 0.15s ease;
}
#type input[type="radio"]{
    display: none;
}
#type .label{
    display: inline-block;
    width: auto;
    min-width: 200px;
    height: 80px;
    margin: 30px;
    padding: 0 50px;
    align-content: center;
    border-radius: 25px;
    background-color: white;
    border: solid 5px rgb(121, 197, 255);
    font-size: 20px;
}
#type .label:hover{
    background-color: rgba(121, 197, 255,0.5);
    transition: all 0.15s ease;
    border: dotted 5px rgb(121, 197, 255);
}
#type input[type="radio"]:checked + .label{
    background-color: rgb(121, 197, 255);
    transition: all 0.15s ease;
}

#type #explain{
    max-width: 750px;
    min-height: 100px;
    align-content: center;
    margin: auto;
    padding: 5px 20px;
    border: solid 5px rgba(121, 197, 255,0.5);
    border-radius: 20px;
    box-shadow: 10px 8px 0 rgba(121, 197, 255,0.5);
}

#type #explain::before,#type #explain::after{
    content: "📖";
    font-size: 30px;
}
/* ここまでトップ画面 */


/* ここから解説評価(詐欺体験) */
#feedback h2{
    margin: 75px 0 0 8%;
    font-size: 30px;
}
#feedback p{
    max-width: 1150px;
    height: 140px;
    margin: 10px auto 50px auto;
    background-color: white;
    border-radius: 34px;
    border: solid 6px rgb(168,174,255);
    box-shadow: 15px 13px 0 rgb(168,174,255);
    padding: 15px 30px;
    overflow-y: scroll;
    font-size: 20px;
}
#feedback p::-webkit-scrollbar{
    width: 33px;
    margin-right: 5%;
    background-color: transparent;
}
#feedback p::-webkit-scrollbar-thumb{
    border-right: 20px solid transparent;
    background-clip: padding-box;
    background-color: rgb(189,226,255);

}

/* ここまで解説評価(詐欺体験) */
/* ここから解説評価(クイズ) */
#quiz-review h1{
    text-align: center;
    font-size: 40px;
    margin:10px;
}
#quiz-review #feedback h2{
    margin: 0 0 0 8%;
    font-size: 30px;
}
#quiz-review #feedback p{
    border: solid 6px rgb(103,231,212);
    box-shadow: 15px 13px 0 rgb(103,231,212);
}

/* ここまで解説評価(クイズ) */



/* ここからチャット画面 */

#chat{
    background-color: white;
    border-radius: 34px;
    max-width: 1291px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: solid 8px rgb(168, 174, 255);
    box-shadow: 15px 13px 0 rgb(168, 174, 255);
    margin-bottom: 30px;
    text-align: left;
    
}


#scroll{
    height: 300px; /* 高さを指定 */
    overflow: auto;
    overflow-x: hidden;
    scrollbar-color: #BDE2FF transparent;
    scrollbar-width: auto; 
}

.mycomment, .aicomment {
    margin: 10px 0;
    display: flex;
}

.mycomment {
    justify-content: flex-end;
}

.aicomment {
    justify-content: flex-start;
}

/* ユーザー（右側）吹き出し */
.mycomment p {
    position: relative;
    margin: 0 0 0 10px;
    padding: 8px;
    max-width: 500px;
    border-radius: 12px;
    background: #BDE2FF;
    font-size: 15px;
}

.mycomment p:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #BDE2FF;
    transform: rotate(-35deg);
}

/* AI（左側）吹き出し */
.aicomment p {
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 500px;
    border-radius: 12px;
    background: #B7C8FF;
    font-size: 15px;
}

.aicomment p:after {
    content: "";
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #B7C8FF;
    transform: rotate(35deg);
}


#field{   
    position: relative;
    background-color: rgba(189, 226, 255, 1);
    border-radius: 14px;
    max-width: 1291px;
    margin: auto;
    width: auto;
    border: solid 8px rgba(189, 226, 255, 1);
    
}

form{
    display: flex;
    gap: 15px;  

}
#voice-area{
    margin: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#voice-area select{
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
}

#textarea {
    border: none;
    outline: none;
    border-radius: 14px;
    padding: 5px 15px;
    font-size: 20px;
    width: 93%;
    height: 30px; 
    text-align: left;
    box-sizing: border-box;
    display: block; 
    resize: none; 
    overflow: hidden;
    min-height: 30px;
}

#displayButton{
    all: unset;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 25px solid rgb(255,184,61); /* 三角形の色 */
    background: none;
    cursor: pointer; 
    overflow: visible;
    position: absolute;
    bottom: 0px;       
    right: 15px;        
}
/* ここまでチャット画面 */